@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using OpenRedding.Client.Services
@using OpenRedding.Domain.Common.ViewModels
@using OpenRedding.Domain.Salaries.Enums

@inject SalariesStateFacade StateFacade

<div class="d-flex flex-column">
    <label class="@LabelCss" for="year-dropdown">Fiscal Year</label>
    <select @onchange="OnYearSelected" id="year-dropdown" class="form-control">
        <option disabled>Select a year</option>
        @foreach (var yearOption in employmentYearSelectOptions.SelectOptions)
        {
            @if (yearOption.Key == ExistingSelection)
            {
                <option selected value="@yearOption.Key">@yearOption.Value</option>
            }
            else
            {
                <option value="@yearOption.Key">@yearOption.Value</option>
            }
        }
    </select>
</div>

@code {

    [Parameter]
    public EmploymentYear ExistingSelection { get; set; }

    [Parameter]
    public string? LabelCss { get; set; }

    private OpenReddingEnumSelectViewModel<EmploymentYear> employmentYearSelectOptions = new OpenReddingEnumSelectViewModel<EmploymentYear>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        employmentYearSelectOptions
            .AddOption(EmploymentYear.AllYears, "All Years")
            .AddOption(EmploymentYear._2019, "2019")
            .AddOption(EmploymentYear._2018, "2018")
            .AddOption(EmploymentYear._2017, "2017")
            .AddOption(EmploymentYear._2016, "2016")
            .AddOption(EmploymentYear._2015, "2015")
            .AddOption(EmploymentYear._2014, "2014")
            .AddOption(EmploymentYear._2013, "2013")
            .AddOption(EmploymentYear._2012, "2012")
            .AddOption(EmploymentYear._2011, "2011");
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing)
        {
            base.Dispose(disposing);
        }
    }

    private void OnYearSelected(ChangeEventArgs e)
    {
        StateFacade.SetEmploymentYear(Enum.Parse<EmploymentYear>(e.Value.ToString()));
    }

}
