@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using OpenRedding.Client.Services
@using OpenRedding.Domain.Common.ViewModels
@using OpenRedding.Domain.Salaries.Enums

@inject SalariesStateFacade StateFacade

<div class="d-flex flex-column">
    @* Sort field *@
    <label class="@LabelCss" for="sort-field-dropdown">Sort Options</label>
    <select @onchange="OnSortOptionSelected" id="sort-field-dropdown" class="form-control">
        <option disabled>Select a field</option>
        @foreach (var fieldOption in fieldSelectOptions.SelectOptions)
        {
            @if (fieldOption.Key == ExistingFieldSelection)
            {
                <option selected value="@fieldOption.Key">@fieldOption.Value</option>
            }
            else
            {
                <option value="@fieldOption.Key">@fieldOption.Value</option>
            }
        }
    </select>

    @* Sort by *@
    <div class="py-2 btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
        @* Default order *@
        @if (ExistingOptionSelection == SalarySortByOption.Default)
        {
            <label class="btn btn-outline-primary active">
                <input type="radio" name="options" id="sort-by-default" autocomplete="off" checked @onclick="(() => OnSortBySelected(SalarySortByOption.Default))" /><span>Default</span>
            </label>
        }
        else
        {
            <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="sort-by-default" autocomplete="off" @onclick="(() => OnSortBySelected(SalarySortByOption.Default))" /><span>Default</span>
            </label>
        }

        @* Ascending order *@
        @if (ExistingOptionSelection == SalarySortByOption.Ascending)
        {
            <label class="btn btn-outline-primary active">
                <input type="radio" name="options" id="sort-by-ascending" autocomplete="off" checked @onclick="(() => OnSortBySelected(SalarySortByOption.Ascending))" /><span>Ascending</span>
            </label>
        }
        else
        {
            <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="sort-by-ascending" autocomplete="off" @onclick="(() => OnSortBySelected(SalarySortByOption.Ascending))" /><span>Ascending</span>
            </label>
        }

        @* Descending order *@ 
        @if (ExistingOptionSelection == SalarySortByOption.Descending)
        {
            <label class="btn btn-outline-primary active">
                <input type="radio" name="options" id="sort-by-descending" autocomplete="off" checked @onclick="(() => OnSortBySelected(SalarySortByOption.Descending))" /><span>Descending</span>
            </label>
        }
        else
        {
            <label class="btn btn-outline-primary">
                <input type="radio" name="options" id="sort-by-descending" autocomplete="off" @onclick="(() => OnSortBySelected(SalarySortByOption.Descending))" /><span>Descending</span>
            </label>
        }
    </div>
</div>

@code {

    [Parameter]
    public SalarySortField ExistingFieldSelection { get; set; }

    [Parameter]
    public SalarySortByOption ExistingOptionSelection { get; set; }

    [Parameter]
    public string? LabelCss { get; set; }

    private OpenReddingEnumSelectViewModel<SalarySortField> fieldSelectOptions = new OpenReddingEnumSelectViewModel<SalarySortField>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => base.OnInitialized());

        fieldSelectOptions
            .AddOption(SalarySortField.Default, "Default")
            .AddOption(SalarySortField.Name, "Name")
            .AddOption(SalarySortField.JobTitle, "Job Title")
            .AddOption(SalarySortField.Year, "Year")
            .AddOption(SalarySortField.BaseSalary, "Base Pay")
            .AddOption(SalarySortField.TotalWithBenefitsSalary, "Total Pay and Benefits");
    }

    protected override void Dispose(bool disposing)
    {
        if (disposing)
        {
            base.Dispose(disposing);
        }
    }

    private void OnSortOptionSelected(ChangeEventArgs e)
    {
        StateFacade.SetSalarySortField(Enum.Parse<SalarySortField>(e.Value.ToString()));
    }

    private void OnSortBySelected(SalarySortByOption option)
    {
        StateFacade.SetSalarySortBy(option);
    }

}