@page "/"

@using OpenRedding.Domain.Salaries.Dtos
@using OpenRedding.Domain.Salaries.Entities
@inject IJSRuntime JSRuntime

<div class="flex-container-column-center">
    <MatH2><span class="comfortaa">Open Redding</span></MatH2>
    <MatH5 Style="margin-top: -5px;">An open data portal for Redding, by the people, for the people</MatH5>
    <div class="flex-container-row">
        <MatTabGroup Style="background-color: white;">
            <MatTab Label="Salaries">
                <div class="mat-layout-grid mat-elevation-z4">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField Outlined="true" @bind-Value="name" Label="Name"></MatTextField>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatTextField Outlined="true" @bind-Value="jobTitle" Label="Job Title"></MatTextField>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect Label="Status" Outlined="true" TValue="string" @bind-Value="status">
                                <MatOptionString Value="@nameof(EmployeeStatus.AllStatuses)">All Statuses</MatOptionString>
                                <MatOptionString Value="@nameof(EmployeeStatus.FullTime)">Full-time</MatOptionString>
                                <MatOptionString Value="@nameof(EmployeeStatus.PartTime)">Part-time</MatOptionString>
                                <MatOptionString Value="@nameof(EmployeeStatus.Other)">Other</MatOptionString>
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            <MatSelect Label="Agency" Outlined="true" TValue="string" @bind-Value="agency">
                                <MatOptionString Value="@nameof(EmployeeAgency.AllAgencies)">All Agencies</MatOptionString>
                                <MatOptionString Value="@nameof(EmployeeAgency.Redding)">Redding</MatOptionString>
                                <MatOptionString Value="@nameof(EmployeeAgency.ShastaCounty)">Shasta County</MatOptionString>
                                <MatOptionString Value="@nameof(EmployeeAgency.Other)">Other</MatOptionString>
                            </MatSelect>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-content: center; padding-top: 10px;">
                        <MatButton Style="margin: 8px;" Raised="true">Search Salaries</MatButton>
                        <MatButton Style="margin: 8px;" Raised="true">All Salary Data</MatButton>
                    </div>
                </div>
            </MatTab>
            <MatTab Label="Budget">
                <div class="mat-layout-grid">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell-span-12">
                            <div class="flex-container-column-center">
                                <MatH6 Class="text-center">Coming soon... think you can help? We're always looking for people!</MatH6>
                            </div>
                        </div>
                    </div>
                </div>
            </MatTab>
        </MatTabGroup>
    </div>
</div>

<canvas class="particle-background"></canvas>

@code
{
    string? name;

    string? jobTitle;

    string? agency;

    string? status;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initParticlesJs");
        }

        var request = new EmployeeSalarySearchRequestDto(default, default, default, default, default);
    }
}
