<Fluxor.Blazor.Web.StoreInitializer />
@using Microsoft.AspNetCore.Components.Authorization

<MatThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</MatThemeProvider>

@code {
    MatTheme theme = new MatTheme
    {
        Primary = MatThemeColors.Blue._500.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value
    };
}
