@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="OnMenuButtonClick"></MatIconButton>
                <MatAppBarTitle Style="cursor: pointer;" @onclick="(_ => NavigateToPage(NavigationContext.Home))"><span class="comfortaa">Open Redding</span></MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <AuthorizeView>
                    <Authorized>
                        <MatButton Unelevated="true" OnClick="(() => NavigateToPage(NavigationContext.Salaries))" TrailingIcon="account_circle">@context.User.Identity.Name</MatButton>
                        <MatButton Unelevated="true" OnClick="(() => NavigateToPage(NavigationContext.Salaries))" TrailingIcon="account_balance">Register</MatButton>
                        <MatButton Unelevated="true" TrailingIcon="code" OnClick="(() => NavigateToPage(NavigationContext.GitHub))">Support</MatButton>
                    </Authorized>
                    <NotAuthorized>
                        <MatButton Unelevated="true" OnClick="(() => NavigateToPage(NavigationContext.Register))" TrailingIcon="verified_user">Register</MatButton>
                        <MatButton Unelevated="true" OnClick="(() => NavigateToPage(NavigationContext.Login))" TrailingIcon="perm_identity">Login</MatButton>
                        <MatButton Unelevated="true" TrailingIcon="code" OnClick="(() => NavigateToPage(NavigationContext.GitHub))">Support</MatButton>
                    </NotAuthorized>
                </AuthorizeView>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        <MatDrawerContainer Style="width: 100vw; height: 100vh;">
            <MatDrawer @bind-Opened="@isOpen" Mode="@MatDrawerMode.Modal">
                <MatNavMenu>
                    <MatNavItem Href="/counter">Item 1</MatNavItem>
                    <MatNavItem Disabled="true">Item 2</MatNavItem>
                    <MatNavItem Href="/fetchdata">Item 3</MatNavItem>
                    <MatNavSubMenu @bind-Expanded="@navSubMenuOpenState">
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false"><MatIcon Icon="all_inbox"></MatIcon>&nbsp; Item 3 - Expanded: @navSubMenuOpenState</MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem Href="#">Item 3.A&nbsp; <MatIcon Icon="backup"></MatIcon></MatNavItem>
                            <MatNavItem>Item 3.B&nbsp; <MatIcon Icon="build"></MatIcon></MatNavItem>
                            <MatNavItem>Item 3.C&nbsp; <MatIcon Icon="explore"></MatIcon></MatNavItem>
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                    <MatNavItem><MatIcon Icon="grade"></MatIcon>&nbsp; Item 4 </MatNavItem>
                    <MatDivider></MatDivider>
                    <MatNavItem><MatIcon Icon="face"></MatIcon>&nbsp; Item 5</MatNavItem>
                    <MatNavSubMenu>
                        <MatNavSubMenuHeader>
                            <MatNavItem AllowSelection="false"><MatIcon Icon="explore"></MatIcon>&nbsp; Item 6</MatNavItem>
                        </MatNavSubMenuHeader>
                        <MatNavSubMenuList>
                            <MatNavItem Disabled="true" Href="#">Item 6.A</MatNavItem>
                            <MatNavItem>Item 6.B</MatNavItem>
                            <MatNavItem>Item 6.C</MatNavItem>
                        </MatNavSubMenuList>
                    </MatNavSubMenu>
                    <MatNavItem Href="https://blazorboilerplate.com/">Blazor Boilerplate - Href</MatNavItem>
                    <MatNavItem Href="https://www.matblazor.com/">MatBlazor - Href</MatNavItem>
                </MatNavMenu>
            </MatDrawer>
            <MatDrawerContent>
                <div class="flex-container-column">
                    @Body
                    <Footer />
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code
{
    private enum NavigationContext
    {
        Home,
        GitHub,
        Register,
        Login,
        Salaries
    }

    private bool isOpen = false;
    private bool navSubMenuOpenState;

    private void OnMenuButtonClick()
    {
        isOpen = !isOpen;
    }

    private void NavigateToPage(NavigationContext context)
    {
        switch (context)
        {
            case NavigationContext.GitHub:
                NavigationManager.NavigateTo("https://github.com/joey32793/OpenRedding");
                break;
            case NavigationContext.Register:
                NavigationManager.NavigateTo("https://localhost:5003/identity/account/register?returnUrl=https://localhost:5001");
                break;
            case NavigationContext.Login:
                NavigationManager.NavigateTo("https://localhost:5003/identity/account/login?returnUrl=https://localhost:5001");
                break;
            default:
                NavigationManager.NavigateTo("/");
                break;
        }
    }
}
